@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

/* only when theme toggles */
html.theme-transition *,
html.theme-transition {
  transition:
    background-color 0.6s ease,
    color 0.6s ease,
    border-color 0.6s ease;
}
